.clock-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.clock {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #333;
}

.hand {
    position: absolute;
    bottom: 50%; /* Центрируем начало стрелки */
    left: 50%;
    transform-origin: bottom center; /* Точка вращения */
    background-color: black;
    border-radius: 2px;
}

.hour-hand {
    width: 4px;
    height: 40%;
    margin-left: -2px;
}

.minute-hand {
    width: 2px;
    height: 45%;
    margin-left: -1px;
}

.second-hand {
    width: 1px;
    height: 48%;
    background-color: red;
    margin-left: -0.5px;
}

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    border-radius: 50%;
    background-color: #333;
}